extends ./layout/index

block slider 
    .slider 
        h1 Rio de janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula luctus turpis a fringilla. Mauris viverra, mi nec facilisis volutpat, enim diam aliquam arcu, ut finibus nulla tellus et ligula. Praesent eget odio non elit bibendum ultrices. Ut eleifend at sapien eu placerat. Nam eleifend, sem vel tristique cursus, metus ex consectetur ante, sagittis ornare dolor lacus et ipsum.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula luctus turpis a fringilla. Mauris viverra, mi nec facilisis volutpat, enim diam aliquam arcu, ut finibus nulla tellus et ligula. Praesent eget odio non elit bibendum ultrices.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg",alt=" imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes
    
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 11 de Febrero de 2023 - 28 de Febrero de 2023
                        p.precio $3,200 USD
    
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
        