extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at ipsum vitae erat faucibus dignissim. Vivamus id ante eleifend, lobortis metus ac, dapibus sem. Nunc ultricies turpis in felis feugiat, sed elementum mi commodo. Vivamus sit amet ultrices velit, id vestibulum quam. Fusce nulla sapien, dictum eget feugiat at, lobortis quis justo. Vivamus pharetra viverra orci at pulvinar. Sed pretium ante at dapibus fermentum. Donec dapibus, quam sit amet consequat viverra, nibh odio tincidunt libero, id scelerisque arcu sem eu sem.

                p Vestibulum felis lectus, efficitur at porta at, auctor sit amet turpis. Integer auctor, sem sit amet maximus suscipit, nisi elit rutrum odio, eu luctus tellus erat ut risus. Nullam et magna ut nisi sollicitudin tincidunt. Sed at justo efficitur, ornare felis nec, mollis orci. Curabitur dolor erat, eleifend non nibh ut, fringilla ullamcorper tellus. Praesent dignissim dui sit amet dolor tincidunt, ut mollis mauris faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Fusce et risus sit amet metus congue laoreet.

                p Proin porta blandit magna, eget bibendum lectus facilisis sed. Sed fringilla lacinia enim cursus volutpat. Etiam vitae arcu arcu. Nullam eget risus sed felis pretium pharetra ac vel ante. Aenean a nunc in erat bibendum faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec imperdiet nibh. In aliquam enim vel sem aliquam, a auctor elit faucibus.
            
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec imperdiet nibh. In aliquam enim vel sem aliquam, a auctor elit faucibus.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec imperdiet nibh. In aliquam enim vel sem aliquam, a auctor elit faucibus.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec imperdiet nibh. In aliquam enim vel sem aliquam, a auctor elit faucibus.
                
